# Dependencias
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Variables de entorno (NUNCA subir a git)
.env
.env.local
.env.*.local
.agents

# Build
frontend/dist/
*.egg-info/

# Sistema operativo
.DS_Store
Thumbs.db
*.log

backend/__pycache__/
backend/*.pyc
backend/env/
backend/.env
backend/venv/

frontend/node_modules/
frontend/dist/
frontend/.env